
<div class="container mt-5 mb-5">

    <div class="text-center" >
        <h1>About Us</h1><br/>
    
    <img src="https://www.gtccabs.com/uploads/Deeplinkimage/367865492.jpg" height="220px" width="200px" >
        <p class="content">
            SmartWay offers stress-free, reliable, safe service nearby your location to travel within the Doha city or outstation across Qatar.
            We are your perfect travel partner for your travel needs like Historical place visiting, Tourist destinations, Desert Safari, Airport transfers, Door to Door services,
            and all other Business and family trips. Our services can be tailor-made and flexible. We take immense pride in the services we provide and most importantly we ensure safe service for all our customers.
            <br/>Book service as per your requirement.
        </p>
    </div>
    </div>
