.servicebox 
{
    padding: 10px 10px;
} 
.servicebox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.servicebox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.welcome h1{
    color: rgb(30, 26, 131);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.welcome h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.welcome{
    text-align: center;
}