

 <div class="image-wrap">
    <div class="img-content">
        <img src="https://www.honda.co.jp/content/site/www/news/pc/2016-new/4160204-odyssey/_jcr_content/par_news-body/newscolumn/par_news-col-1/newsimage.img.jpg/1571109652435.jpg" alt="">
    </div>
    <div class="overlay"></div>
</div>
<div class="banner-content">
    <h1>PRIVATE TAXI SERVICE QATAR</h1>
    <div class="banner-btn">
        <a routerLink="#" class="ban-btn btn-red">CALL NOW <i class="bi bi-whatsapp"></i>+97433514065</a>
    </div>
</div>

<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">WHY <span class="highlight">SmartWay?</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                
                <p>SKILLED DRIVER</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
               
                <p>RELIABLE SERVICE</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
               
                <p>CLEAN CAR</p>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <h1 class="text-center">We <span class="lyt">Provide</span></h1>
    <div class="row">
       
        <div class="col-lg-4" *ngFor="let ss of serviceData">

            <div class="servicebox mt-3 mb-3">
                <img src="{{ss.serviceImg}}">
                <h1>{{ss.serviceName}}</h1>
                <p>{{ss.serviceDetails}}</p>
                
            </div>

        </div>

    </div>
</div>
<div class="container mt-5 mb-5">
    <h1 class="text-center">About Us</h1><br/>
    <p class="abstrct">
        SmartWay offers stress-free, reliable, safe service nearby your location to travel within the Doha city or outstation across Qatar.
We are your perfect travel partner for your travel needs like Historical place visiting, Tourist destinations, Desert Safari, Airport transfers, Door to Door services,
and all other Business and family trips. Our services can be tailor-made and flexible. We take immense pride in the services we provide and most importantly we ensure safe service for all our customers.
Book service as per your requirement.
    </p>

</div>
<div class="container mt-5 mb-5"> 
    
    <h1 class="text-center">Contact <span class="highlight">+97433514065</span></h1>
</div>